@import '../../assets/vars.scss';

.landing-container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow-x: hidden;


    .bg-box {
        width: 50%;
        height: 100%;
        
        
    }
    #bg-1 {
        background-color: $green;
        animation: slideRight .8s .8S ease-out;
        visibility: hidden;
        animation-fill-mode: forwards;
        display: flex;
        
    }
    #bg-2 {
        background-color: $light-green;
        animation: slideLeft .8s .8S ease-out;
        display: flex;
        visibility: hidden;
        animation-fill-mode: forwards;
        

    }

}


#landing-title{
    font-size: 2rem;
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 55%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    color:white;
}


#landing-btn {
    width: 80%;
    max-width: 500px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e8f2f7;
    color: $green;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    border: none;
    font-size: 2.5rem;
    border-radius: 100px;
    padding: 0.5rem 1.2rem;
    box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.308);
    animation: appearFromBottom .8s 1.5s ease;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition: all .2s ease;
    outline: none;

    &:hover {
        background-color: #ffffff;
    }

}

#landing-logo{
    width: 70%;
    max-width: 400px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    animation: FadeIn .7s ease-in-out ;
}



@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        visibility: hidden;
        
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        visibility: hidden;
        
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes appearFromBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem) translateX(-50%);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
        visibility: visible;
    }
}

@keyframes FadeIn {
    0%{
        transform: scaleY(0) translateX(-50%);
        
    }

    70%{
        transform: scaleY(1.3) translateX(-50%);
        
    }
    100%{
        transform: scaleY(1) translateX(-50%);
       
    }
}