@import '../../assets/vars.scss';

.topic-title{
    color: $green;
    font-size: 2.5rem;
    cursor: pointer;
}

#favorites-title{
    margin-top: 1rem;
    @include main-gradient;
    text-align: center;
    

    h3{
        color: rgb(255, 255, 255) ;
        font-size: 1.8rem;
        margin-left: 2rem;
        padding: 1rem 0;
    }
}

